<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block slideUp">
      <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
      </div>
    </div>
    <div class="col-sm-6 auth-form-section" [hidden]="boolRestablece">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Restablecer la contraseña </h2>
          <p class="auth-signup-text text-muted">Dejanos ayudarte</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Ingrese su dirección de correo electrónico registrada.
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                  <input matInput formControlName="email" required>
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error *ngIf="authForm.get('email').hasError('required') || authForm.get('email').touched">
                    Por favor, introduce una dirección de correo electrónico válida
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!authForm.valid " type="submit">
                Restablecer mi contraseña
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/inicio/login" class="txt1">
                  ¿Iniciar sesión?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6 auth-form-section slideDown"  *ngIf="boolValidaCodigo">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Validar Código </h2>
          <p class="auth-signup-text text-muted">Le hemos enviado un correo con el código de validación a : {{email}}</p>
          <form class="validate-form" [formGroup]="validaForm" (ngSubmit)="onSubmitValida()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Ingrese el código de validación
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Código</mat-label>
                  <input matInput formControlName="codigo" required>
                  <mat-icon matSuffix>beenhere</mat-icon>
                  <mat-error *ngIf="validaForm.get('codigo').hasError('required') || validaForm.get('codigo').touched">
                    Por favor, introduce el código
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!validaForm.valid " type="submit">
                Validar código
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/inicio/login" class="txt1">
                  ¿Iniciar sesión?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-sm-6 auth-form-section slideUp"  *ngIf="boolContrasenia">
      <div class="form-section">
        <div class="auth-wrapper">
          <h2 class="welcome-msg"> Restablezca su Contraseña </h2>
          <p class="auth-signup-text text-muted">Ingrese y actualice su nueva contraseña</p>
          <form class="validate-form" [formGroup]="actualizaForm" (ngSubmit)="onSubmitActualiza()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Ingrese su nueva contraseña
                </span>
                <mat-form-field class="example-full-width" appearance="outline">
                  <mat-label>Nueva contraseña</mat-label>
                  <input matInput formControlName="contrasenia" required [type]="tipoInput">
                  <mat-icon matSuffix (click)="changueInput()">text_format</mat-icon>
                  <mat-error *ngIf="actualizaForm.get('contrasenia').hasError('required') || actualizaForm.get('contrasenia').touched">
                    Por favor, introduce contraseña
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" class="auth-form-btn" [disabled]="!actualizaForm.valid " type="submit">
                Restablecer contraseña
              </button>
            </div>
            <div class="w-full p-t-25 text-center" hidden>
              <div>
                <a routerLink="/inicio/login" class="txt1">
                  ¿Iniciar sesión?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
