<div class="addContainer">
  <div class="modalHeader">
      <div class="editRowModal">
          <div class="modalHeader clearfix">
              <div class="modal-about">
                  <div class="font-weight-bold p-t-5 font-17">
                     <strong>{{dialogTitle}}</strong> 
                  </div>
              </div>
          </div>
      </div>
          <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
              <mat-icon>close</mat-icon>
          </button>
     
  </div>
  <!-- height: 100%; -->
  <div mat-dialog-content style=" overflow-x: hidden;"> 
      <form class="register-form m-4" [formGroup]="menuForm" (ngSubmit)="submit">
        <div class="row">                   
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
              <mat-form-field class="example-full-width mb-3" appearance="outline" >
                <mat-label>Tipo de Solución</mat-label>
                <input matInput formControlName="tipoSolucion"  readonly>
                  <!-- <mat-option [value]="ss.valorEntero" *ngFor="let ss of Soluciones">
                    {{ss.nombre}}
                  </mat-option>                                     -->
                <!-- </mat-select>     -->
                <!-- <mat-error *ngIf="menuForm.get('tipoSolucion').hasError('required')">
                  Tipo de solución es requerido
                </mat-error>                         -->
              </mat-form-field>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline" disabled="true">
              <mat-label>Solución</mat-label>
              <textarea cols="40" rows="4" matInput placeholder="Escribe solución" formControlName="solucion" readonly></textarea>
              <!-- <mat-error *ngIf="menuForm.get('tipoSolucion').hasError('required')">
                Tipo de solución es requerido
              </mat-error> -->
            </mat-form-field>
          </div>
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Comentario</mat-label>
              <textarea cols="40" rows="2" matInput placeholder="Escribe Comentario" formControlName="comentarios" readonly >
               
              </textarea>
            </mat-form-field>
          </div>  

        </div>
      </form>         

    
                  
      <!-- Para carga de imagen -->                  
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
        <!-- <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">                  
              <div class="body">
                <form class="register-form m-4" [formGroup]="ImgForm" >
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" > 
                    <app-file-upload formControlName="uploadFile" (change)="capturarFile($event)"></app-file-upload>                    
                  </div>          
                  <br>
                </form>
              </div>
            </div>
          </div>                                                            
        </div> -->
        <!-- Se muestra las imagenes -->         
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
          <div class="row clearfix" style="align-items: center; text-align: center">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 " *ngFor="let img of listpre">
              <div class="card" >
                <div class="body" >                    
                    <img (click)="deleteImg(img)" style="width: 25%; height:25%;" [src]="img.includes('.pdf')?'assets/images/logo-pdf.jpg':
                    img.includes('.xls')?'assets/images/logo-excel.png':
                    img.includes('.doc')?'assets/images/logo-word.jpg':
                    img.includes('.rar')?'assets/images/logo-rar.jpg':
                    img.includes('.zip')?'assets/images/logo-zip.jpg':
                    img.includes('.txt')?'assets/images/logo-txt.png':
                    img" alt="No Image"  >
                    <button mat-raised-button color="primary" (click)="descargarArchivo(img)" 
                    >Descargar</button>
                </div>
              </div>
            </div>
          </div>
        </div>             
      </div>                
      <!-- <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="example-button-row">
                  <button mat-raised-button color="primary" [type]="submit" [disabled]="!menuForm.valid"
                      (click)="confirmAdd()">Guardar</button>
                  <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancelar</button>
              </div>
          </div>
      </div> -->
  </div> 
</div>

