<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2> <strong>Nuevo ticket</strong> </h2>
          </div>
          <div class="body">
            <form class="m-4" [formGroup]="stdForm">    
              <div class="row">
                
              </div>     
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <form [formGroup]="filterForms">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Empresa</mat-label>
                    <mat-select formControlName="idEmpresa" required (selectionChange)="selectEmpresa($event)">
                      <mat-icon matSuffix>file_copy</mat-icon>
                      <mat-option  [value]="doc.idEmpresa" *ngFor="let doc of sistemasList" required>
                        {{doc.razonSocial}}
                      </mat-option>              
                    </mat-select>                                                                         
                  </mat-form-field>                                                                
                 </form>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <form [formGroup]="filterForms2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Sistema</mat-label>
                    <mat-select formControlName="idSistema" required (selectionChange)="selectSistema($event)">
                      <mat-icon matSuffix>file_copy</mat-icon>
                      <mat-option  [value]="sis.idEmpresaSistemas" *ngFor="let sis of sistemas" required>
                        {{sis.nombreSistema}}
                      </mat-option>              
                    </mat-select>                                                                         
                  </mat-form-field>                                                                
                </form> 
              </div>
                  
                
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Usuario cliente</mat-label>
                          <mat-select formControlName="idUsuarioRegistro" value="selected">
                            <mat-option [value]="usu.id" *ngFor="let usu of usuariosByEmpresa">
                             {{usu.nombres}} {{usu.apellidos}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                  </div>  
                
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Título del ticket</mat-label>
                  <input matInput formControlName="nombre" required>
                  <mat-error *ngIf="stdForm.get('nombre').hasError('required')">
                    Título es requerido
                  </mat-error>
                </mat-form-field>
              </div> 
              </div>     
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Prioridad</mat-label>
                  <mat-select formControlName="idPrioridad" required>
                    <mat-option [value]="pri.valorEntero" *ngFor="let pri of prioridades">
                      {{pri.nombre}}
                    </mat-option>                     
                  </mat-select>
                  <mat-error *ngIf="stdForm.get('idPrioridad').hasError('required')">
                    Prioridad es requerido
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="idEstado" disabled>
                    <mat-option [value]="est.valorEntero" *ngFor="let est of estados">
                      {{est.nombre}}
                    </mat-option>                      
                  </mat-select>                  
                </mat-form-field>
              </div>  
              </div>                 
            </form>      
            <!-- ****Formulario ticket Fin****       -->
            <!-- CKEDITOR, PARA LOS COMENTARIOS -->
                       
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="body">                   
                      <form class="register-form m-4" [formGroup]="EditorForm" >
                        <mat-label> <strong>Describir ticket</strong> </mat-label>
                        <ckeditor [editor]="Editor"  data="" formControlName="comentario" required></ckeditor>   
                        <mat-error *ngIf="EditorForm.get('comentario').hasError('required')">
                          Describa su ticket
                        </mat-error>                   
                      </form>
                    </div>
                  </div>
                </div> 
              </div>      
            <!-- Para las fotos -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="card">
                    <div class="body">
                      <form class="register-form m-4" [formGroup]="ImgForm" >
                        <mat-label> <strong>Adjuntar evidencia</strong> </mat-label>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                          <app-file-upload *ngIf="!boolimg" formControlName="uploadFile" (change)="capturarFile($event)"></app-file-upload>
                        </div>                   
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                  <div class="row clearfix">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let img of listpre">
                      <div class="card">
                        <div class="body">
                          <div >
                            <img style="width: 300px; height: 300px;" [src]="img" alt="No Image">
                            <button mat-raised-button color="primary" (click)="deleteImg(img)">
                              <mat-icon>restore_from_trash</mat-icon>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                 </div>
              </div>
             </div>   
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" [disabled]="!stdForm.valid || !EditorForm.valid" mat-raised-button
                    color="primary" (click)="addincidencia()">Enviar ticket</button>
                  <button mat-raised-button type="button" color="warn" mat-button (click)="cancelincidencia()">Cancelar</button>
                </div>
              </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
