<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modal-about">
                    <div class="font-weight-bold p-t-5 font-17">
                      Registro de horas</div>
                      <div class="font-weight-bold p-t-5 font-14">
                        Ticket: {{data.incidente}}</div>
                        <div class="font-weight-bold p-t-5 font-14">
                        Usuario asignado: {{data.usuarioAsignado}}</div>
                  </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
          </button>
    </div>
    <br>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="horasForm">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Horas estimadas</mat-label>
                        <input type="number" pattern="^\d+(\.\d{1,2})?$" min="0" max="32" step="0.01" matInput formControlName="horasEstimadas" required>
                        <mat-icon matSuffix>hourglass_empty</mat-icon>
                        <mat-error *ngIf="horasForm.get('horasEstimadas').hasError('required')">
                            Horas estimadas es requerido
                        </mat-error>
                        <mat-error *ngIf="horasForm.get('horasEstimadas').hasError('min')">
                            El número debe ser mayor a cero.
                        </mat-error>
                        <mat-error *ngIf="horasForm.get('horasEstimadas').hasError('max')">
                        El número debe ser menor a 32 horas.
                        </mat-error>
                        <mat-error *ngIf="horasForm.get('horasEstimadas').hasError('pattern')">
                        El número debe tener opcionalmente un punto y dos dígitos decimales.
                        </mat-error>
                          
                      </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Horas ejecutadas</mat-label>
                        <input type="number" pattern="^\d+(\.\d{1,2})?$" min="0" max="32" step="0.01" matInput formControlName="horasEjecutadas" required>
                        <mat-icon matSuffix>hourglass_full</mat-icon>
                        <mat-error *ngIf="horasForm.get('horasEjecutadas').hasError('required')">
                            Horas ejecutadas es requerido
                        </mat-error>
                        <mat-error *ngIf="horasForm.get('horasEjecutadas').hasError('min')">
                            El número debe ser mayor a cero.
                        </mat-error>
                        <mat-error *ngIf="horasForm.get('horasEjecutadas').hasError('max')">
                        El número debe ser menor 32 horas.
                        </mat-error>
                        <mat-error *ngIf="horasForm.get('horasEjecutadas').hasError('pattern')">
                        El número debe tener opcionalmente un punto y dos dígitos decimales.
                        </mat-error>                          
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="example-button-row">
                    <button mat-raised-button color="primary"  [disabled]="!horasForm.valid"
                      (click)="actualizarHoras()">Grabar</button>
                    <button mat-raised-button color="warn" (click)="cancelar()" tabindex="-1">Cancelar</button>
                  </div>
                </div>
              </div>
        </form>
    </div>
</div>
