<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
     
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <mat-tab-group (selectedTabChange)="onTabChange($event)">
            <mat-tab>
              <ng-template mat-tab-label>
                <i class="material-icons-two-tone psr-3">list_alt</i>
                Tickets
            </ng-template>
            <div class="card">
              <div class="header">
                <h2> <strong>Nuevo ticket</strong> </h2>
              </div>
              <div class="body">
                <form class="m-4" [formGroup]="stdForm">    
                  <div class="row">
                    <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Tipo de Incidente</mat-label>
                      <mat-select formControlName="idTipoticket" required (selectionChange)="onChangeTipo($event.value)">
                        <mat-option [value]="tipo.id" *ngFor="let tipo of tipoIncidentes">
                          {{tipo.nombre}}
                        </mat-option>                     
                      </mat-select>
                      <mat-error *ngIf="stdForm.get('idTipoticket').hasError('required')">
                        Tipo de Incidente es requerido
                      </mat-error>
                    </mat-form-field>
                  </div> -->
                  <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Subtipo de Incidente</mat-label>
                      <mat-select formControlName="idSubtipoticket" required>
                        <mat-option [value]="sub.id" *ngFor="let sub of subTipo">
                          {{sub.nombre}}
                        </mat-option>                   
                      </mat-select>
                      <mat-error *ngIf="stdForm.get('idSubtipoticket').hasError('required')">
                        Subtipo de Incidente es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>     -->
                  </div>     
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Sistema</mat-label>
                            <mat-select formControlName="idEmpSist" required>
                            <mat-option [value]="per.idEmpSist" *ngFor="let per of sistema">
                                {{per.nombreSistema}}
                            </mat-option>
                          </mat-select>
                          <mat-error *ngIf="stdForm.get('idEmpSist').hasError('required')">
                            Sistema es requerido
                            </mat-error>
                      </mat-form-field>
                    </div>               
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Título del ticket</mat-label>
                      <input matInput formControlName="nombre" required>
                      <mat-error *ngIf="stdForm.get('nombre').hasError('required')">
                        Título es requerido
                      </mat-error>
                    </mat-form-field>
                  </div> 
                  </div>     
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Prioridad</mat-label>
                      <mat-select formControlName="idPrioridad" required>
                        <mat-option [value]="pri.valorEntero" *ngFor="let pri of prioridades">
                          {{pri.nombre}}
                        </mat-option>                     
                      </mat-select>
                      <mat-error *ngIf="stdForm.get('idPrioridad').hasError('required')">
                        Prioridad es requerido
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Estado</mat-label>
                      <mat-select formControlName="idEstado" disabled>
                        <mat-option [value]="est.valorEntero" *ngFor="let est of estados">
                          {{est.nombre}}
                        </mat-option>                      
                      </mat-select>                  
                    </mat-form-field>
                  </div>  
                  </div>                 
                </form>      
                <!-- ****Formulario ticket Fin****       -->
                <!-- CKEDITOR, PARA LOS COMENTARIOS -->
                          
                  <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                        <div class="body">                   
                          <form class="register-form m-4" [formGroup]="EditorForm" >
                            <mat-label> <strong>Describir ticket</strong> </mat-label>
                            <ckeditor [editor]="Editor" #editor data="" formControlName="comentario" required></ckeditor>   
                            <mat-error *ngIf="EditorForm.get('comentario').touched && EditorForm.get('comentario').hasError('required')">
                              Describa su ticket
                            </mat-error>                   
                          </form>
                        </div>
                      </div>
                    </div> 
                  </div>      
                <!-- Para las fotos -->
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                      <div class="card">
                        <div class="body">
                          <form class="register-form m-4" [formGroup]="ImgForm" >
                            <mat-label> <strong>Adjuntar evidencia</strong> </mat-label>
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                              <app-file-upload *ngIf="!boolimg" formControlName="uploadFile" (change)="capturarFile($event)"></app-file-upload>
                            </div>                   
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                      <div class="row clearfix">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" *ngFor="let img of listpre">
                          <div class="card">
                            <div class="body">
                              <div >
                                <img style="width: 300px; height: 300px;" [src]="img.includes('.pdf')?'assets/images/logo-pdf.jpg':
                                img.includes('.xls')?'assets/images/logo-excel.png':
                                img.includes('.doc')?'assets/images/logo-word.jpg':
                                img" alt="No Image">
                                <button mat-raised-button color="primary" (click)="deleteImg(img)">
                                  <mat-icon>restore_from_trash</mat-icon>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>   
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <button class="btn-space" [disabled]="!stdForm.valid || !EditorForm.valid" mat-raised-button
                        color="primary" (click)="addincidencia()">Enviar ticket </button>
                      <button mat-raised-button type="button" color="warn" mat-button (click)="cancelincidencia()">Cancelar</button>
                    </div>
                  </div>
              
              </div>
            </div>
            </mat-tab>
            <mat-tab *ngIf="showEmisionTab">
              <ng-template mat-tab-label>
                <i class="material-icons-two-tone psr-3">assessment</i>
                Pedidos de emisión
            </ng-template>
            <div class="card">
              <div class="header">
                <h2> <strong>Nuevo Pedido</strong> </h2>
              </div>
              <div class="body">
                <form class="m-4" [formGroup]="emissionForm">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-label> <strong>Título</strong> </mat-label>
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Título del correo</mat-label>
                        <input matInput formControlName="titulo" required>
                        <mat-error *ngIf="emissionForm.get('titulo').hasError('required')">
                          Título es requerido
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2" >
                      <mat-label> <strong>Correo con copia a:</strong> </mat-label>
                      <div style="border: 1px solid #ccc; border-radius: 4px; padding: 5px; margin-bottom: 10px; height: 55px;">
                        <mat-chip-list #chipList aria-label="Email selection" >
                          <mat-chip *ngFor="let email of emailCopyList" [selectable]="selectable" [removable]="removable" (removed)="remove(email)">
                            {{email}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                          </mat-chip>
                      
                          <input placeholder="Escribir correo" #emailInput [formControl]="emailsCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>                    
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                          <mat-option *ngFor="let email of filteredEmails | async" [value]="email">
                            {{email}}
                          </mat-option>
                        </mat-autocomplete>
                      </div>
                  
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-label> <strong>Descripción</strong> </mat-label>
                      <ckeditor [editor]="Editor2" #editor data="" formControlName="descripcion" required></ckeditor>   
                      <mat-error *ngIf="emissionForm.get('descripcion').touched && emissionForm.get('descripcion').hasError('required')">
                        Describa su pedido
                      </mat-error> 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">                    
                    <mat-form-field class="example-full-width mb-3" appearance="outline"> 
                      <mat-label> <strong>Inicio de vigencia</strong> </mat-label>                     
                      <input matInput [matDatepicker]="picker" formControlName="inicioVigencia" required (dateChange)="onDateChange($event)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="emissionForm.get('inicioVigencia').hasError('required')">
                        Inicio de vigencia es requerido
                      </mat-error>
                    </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">                    
                      <mat-form-field class="example-full-width mb-3" appearance="outline"> 
                        <mat-label> <strong>Estado</strong> </mat-label>                     
                        <mat-select formControlName="idEstado" required disabled>
                          <mat-option [value]="pe.valorEntero" *ngFor="let pe of estadoPedidos">
                              {{pe.nombre}}
                          </mat-option>
                        </mat-select>                     
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">                    
                      <mat-form-field class="example-full-width mb-3" appearance="outline"> 
                        <mat-label> <strong>Tipo de cuenta</strong> </mat-label>                     
                        <mat-select formControlName="idCuenta" required (selectionChange)="onChangeCuenta($event)">
                          <mat-option [value]="pe.valorEntero" *ngFor="let pe of cuentas">
                              {{pe.nombre}}
                          </mat-option>
                        </mat-select>     
                        <mat-error *ngIf="emissionForm.get('idCuenta').hasError('required')">
                          Tipo de cuenta es obligatorio
                        </mat-error>                
                      </mat-form-field>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 mb-2">                    
                      <mat-form-field class="example-full-width mb-3" appearance="outline"> 
                        <mat-label> <strong>Tipo de movimiento</strong> </mat-label>                     
                        <mat-select formControlName="idMovimiento" required (selectionChange)="onChangeMovimiento($event)">
                          <mat-option [value]="pe.valorEntero" *ngFor="let pe of movimientos">
                              {{pe.nombre}}
                          </mat-option>
                        </mat-select>        
                        <mat-error *ngIf="emissionForm.get('idMovimiento').hasError('required')">
                          Tipo de movimiento es obligatorio
                        </mat-error>               
                      </mat-form-field>
                    </div>
                  
                  </div>
                  
                  <!-- ... -->                                    
                  <div class="row">              
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" hidden>
                      <label class="example-margin"><strong>Tipo de ficha:</strong> </label>
                      <mat-button-toggle-group class="mt-2" value="new">
                        <mat-button-toggle (click)="typeBtnClick('new')" value="new">Nueva</mat-button-toggle>
                        <mat-button-toggle (click)="typeBtnClick('old')" value="old">Antigua</mat-button-toggle>
                      </mat-button-toggle-group>
                    </div>    
                    <mat-label> <strong>Archivos adjuntos</strong> </mat-label>                  
                     <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                      <label class="upload-label">Ficha técnica (Excel)</label>
                      <div class="upload-container">
                        <input class="upload-input" type="file" formControlName="fichaTecnica"  (change)="onFileChange($event, 'fichaTecnica')" accept=".xls,.xlsx" [required]="emissionForm.get('idMovimiento').value == 1">
                        <img *ngIf="fileThumbnails.fichaTecnica" class="file-thumbnail" [src]="fileThumbnails.fichaTecnica" />
                        <span class="file-name">{{ fileNames.fichaTecnica }}</span>
                        <button mat-icon-button color="accent" *ngIf="files.fichaTecnica" (click)="removeFile('fichaTecnica')" class="delete-button" matTooltip="Eliminar archivo">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <mat-error *ngIf="emissionForm.get('fichaTecnica').touched && emissionForm.get('fichaTecnica').hasError('required') && emissionForm.get('idMovimiento').value == 1">
                        La ficha técnica es obligatoria
                      </mat-error>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                      <label class="upload-label">Trama de datos (Excel)</label>
                      <div class="upload-container">
                        <input class="upload-input" type="file" formControlName="tramaDatos"  (change)="onFileChange($event, 'tramaDatos')" accept=".xls,.xlsx" [required]="emissionForm.get('idMovimiento').value != 5">
                        <img *ngIf="fileThumbnails.tramaDatos" class="file-thumbnail" [src]="fileThumbnails.tramaDatos" />
                        <span class="file-name">{{ fileNames.tramaDatos }}</span>
                        <button mat-icon-button color="accent" *ngIf="files.tramaDatos"  (click)="removeFile('tramaDatos')" class="delete-button" matTooltip="Eliminar archivo">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <mat-error *ngIf="emissionForm.get('tramaDatos').touched && emissionForm.get('tramaDatos').hasError('required')">
                        La trama de datos es obligatoria
                      </mat-error>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                      <label class="upload-label">Carta de no siniestro (Word o PDF)</label>
                      <div class="upload-container">
                        <input class="upload-input" type="file" formControlName="cartaNoSiniestro" (change)="onFileChange($event, 'cartaNoSiniestro')" accept=".doc,.docx,.pdf">
                        <img *ngIf="fileThumbnails.cartaNoSiniestro" class="file-thumbnail" [src]="fileThumbnails.cartaNoSiniestro" />
                        <span class="file-name">{{ fileNames.cartaNoSiniestro }}</span>
                        <button mat-icon-button color="accent" *ngIf="files.cartaNoSiniestro" (click)="removeFile('cartaNoSiniestro')" class="delete-button" matTooltip="Eliminar archivo">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <mat-error *ngIf="isPastDate && emissionForm.get('cartaNoSiniestro').hasError('required')">
                        La carta de no siniestro es obligatoria
                      </mat-error>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2">
                      <label class="upload-label">Documentos adicionales (Excel, Word, TXT o PDF) --Opcional--</label>
                      <div class="upload-container">
                        <input class="upload-input" type="file" formControlName="documentosAdicionales" (change)="onFileChange($event, 'documentosAdicionales')" accept=".xls,.xlsx,.doc,.docx,.txt,.pdf" multiple>
                        <img *ngIf="fileThumbnails.documentosAdicionales" class="file-thumbnail" [src]="fileThumbnails.documentosAdicionales" />
                        <span class="file-name">{{ fileNames.documentosAdicionales }}</span>
                        <button mat-icon-button color="accent" *ngIf="files.documentosAdicionales.length > 0" (click)="removeFile('documentosAdicionales')" class="delete-button" matTooltip="Eliminar archivo">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mb-2" [hidden]="!isEstado">
                      <label class="upload-label">Documento de ordenes de servicio (PDF)</label>
                      <div class="upload-container">
                        <input class="upload-input" type="file" formControlName="ordenesServicio" (change)="onFileChange($event, 'ordenesServicio')" accept=".pdf" >
                        <img *ngIf="fileThumbnails.ordenesServicio" class="file-thumbnail" [src]="fileThumbnails.ordenesServicio" />
                        <span class="file-name">{{ fileNames.ordenesServicio }}</span>
                        <button mat-icon-button color="accent" *ngIf="files.ordenesServicio" (click)="removeFile('ordenesServicio')" class="delete-button" matTooltip="Eliminar archivo">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                      <mat-error *ngIf="isEstado && emissionForm.get('ordenesServicio').hasError('required')">
                        Ordenes de servicio es obligatoria
                      </mat-error>
                    </div>
                  </div>                 
                  <!-- ... -->

                </form>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!emissionForm.valid" mat-raised-button
                      color="primary" (click)="sendEmissionOrder()">Enviar pedido</button>
                    <button mat-raised-button type="button" color="warn" mat-button (click)="cancelincidencia()">Cancelar</button>
                  </div>
                </div>
              </div>             
            </div>
            </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</section>


